{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'css/boostrap.min.css' %}">    <!-- CSS only -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">    
<title>Inote</title>
</head>
<body>
    <header >
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <ul class="nav navbar-nav">
                
                {% if user.is_authenticated and not request.get_full_path == "/settings/"%}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'noteapp:home_page' %}">Inote</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link add" href="#">Add notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link add" href="{% url 'noteapp:settings' %}">Settings</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link add" href="{% url 'noteapp:logout' %}">Log Out</a>
                </li>
                    
                {% elif request.get_full_path == "/settings/" %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'noteapp:home_page' %}">Inote</span></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link add" href="{% url 'noteapp:logout' %}">Log Out</a>
                    </li>

                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'noteapp:index' %}">Inote</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link add" href="{% url 'noteapp:register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link add" href="{% url 'noteapp:login' %}">Login</a>
                </li>
                {% endif %}                    
            </ul>
        </nav>
    </header>
    {% block  body%}
    {% endblock body%}
    <script src="{% static 'js/index.js' %}"> </script>
</body>
</html>    